* {font-family: Helvetica}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: black;
  text-align: center;
}
.menu {
  font-size: 18px;
  color: black;
  text-align: center;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
h2,
h3,
p {
  color: gray; text-align: center;
}
